body{
  text-align: center;
  color: blue;
  font-size: 44px;
  border-style: groove;
  border-color: blue;
  background-color: grey;
}
fieldset{
  text-align: left;
  font-size: 18px;
  border-style: solid;
  border-color: blue;
}
h2{
  text-align: center;
  font-size: 44px;
}
h3{
  text-align: center;
  font-size: 44px;
}
p{
  text-align: center;
  font-size: 19px;
}
p2{
  text-align: center;
  font-size: 19px;
}
h{
  text-align: center;
  font-size: 44px;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h4{
  text-align: center;
  font-size: 44px;
}
h5{
  text-align: center;
  font-size: 44px;
}
h6{
  text-align: center;
  font-size: 44px;
}

























































































